.speech{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    text-decoration: solid;
    text-indent: 14px;
}
.direction{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: solid;
    text-decoration-color: aquamarine;
    text-indent: 20px;
}
.direction:hover{
    background-color: azure;
    color: blue;
}
.Aslaksen{
    color:brown;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}
.DrStockmann{
    color: orange;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}
.Hovstad{
    color: red;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}
.name{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}
table,td,th{
    margin: 1px;
    text-align: center ;
    padding:10px;
    border: solid 2px black;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: pink;
}
tr:nth-child(odd){
    background-color: green;
}
