.speech{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    text-decoration: solid;
    text-indent: 14px;
}
.direction{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: solid;
    text-decoration-color: aquamarine;
    text-indent: 20px;
}
.direction:hover{
    background-color: azure;
    color: blue;
}
.name{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}
.aslaksen{
    color:brown;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}
.drstockmann{
    color: orange;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}
.hovstad{
    color: red;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}

table,td,th{
    margin: 1px;
    text-align: center ;
    padding:10px;
    border: solid 2px black;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: pink;
}
tr:nth-child(odd){
    background-color: green;
}
.aslaksen:hover{
    text-shadow: 2px 3px 4px darkorange;
    background-color: azure;
    color:lightskyblue;
}
.drstockmann:hover{
    text-shadow: 2px 3px 4px darkorange;
    background-color: azure;
    color:lightskyblue;
}
.hovstad:hover{
    text-shadow: 2px 3px 4px darkorange;
    background-color: azure;
    color:lightskyblue;
}  
h6:hover {
    text-shadow: 20px 20px 30px gray;
    border-bottom: black solid;
    font-size: 20px;
}